
<table class="tx-netc-bakerlist" >
	<tr>
		<td>
			<f:translate key="tx_netcbakerlist_domain_model_addresses.title" />
		</td>
		<td>
		{addresses.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_netcbakerlist_domain_model_addresses.description" />
		</td>
		<td>
		{addresses.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_netcbakerlist_domain_model_addresses.name" />
		</td>
		<td>
		{addresses.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_netcbakerlist_domain_model_addresses.vorname" />
		</td>
		<td>
		{addresses.vorname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_netcbakerlist_domain_model_addresses.adresse" />
		</td>
		<td>
		{addresses.adresse}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_netcbakerlist_domain_model_addresses.plz" />
		</td>
		<td>
		{addresses.plz}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_netcbakerlist_domain_model_addresses.ort" />
		</td>
		<td>
		{addresses.ort}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_netcbakerlist_domain_model_addresses.email" />
		</td>
		<td>
		{addresses.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_netcbakerlist_domain_model_addresses.www_link" />
		</td>
		<td>
		{addresses.wwwLink}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_netcbakerlist_domain_model_addresses.tel" />
		</td>
		<td>
		{addresses.tel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_netcbakerlist_domain_model_addresses.fax" />
		</td>
		<td>
		{addresses.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_netcbakerlist_domain_model_addresses.glutenfrei" />
		</td>
		<td>
		{addresses.glutenfrei}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_netcbakerlist_domain_model_addresses.region" />
		</td>
		<td>
		{addresses.region}
		</td>
	</tr>
</table>