
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h2>{addresses.title}</h2>
<div>
	{addresses.name} {addresses.vorname}<br>
	{addresses.adresse}<br>
	{addresses.plz} {addresses.ort}<br><br>
	<p>
		{addresses.description}
	</p>
	
	<f:if condition="{addresses.email}">
		<p>
			<f:link.email email="{addresses.email}">{addresses.email}</f:link.email>
		</p>
	</f:if>
	<f:if condition="{addresses.tel}">
		<f:translate key="LLL:EXT:netc_bakerlist/Resources/Private/Language/locallang_csh_tx_netcbakerlist_domain_model_addresses.xlf:tel.description" /> : {addresses.tel}<br>
	</f:if>
	<f:if condition="{addresses.fax}">
		<f:translate key="LLL:EXT:netc_bakerlist/Resources/Private/Language/locallang_csh_tx_netcbakerlist_domain_model_addresses.xlf:fax.description" /> : {addresses.fax}<br>
	</f:if>
	<f:if condition="{addresses.wwwLink}">
		<f:link.external uri="{addresses.wwwLink}" target="_blank"> {addresses.wwwLink} </f:link.external>
	</f:if>
</div>

<f:if condition="{addresses.adresse}">
<br>
	<a href="http://maps.google.ch/maps?f=q&source=s_q&hl=de&geocode=&q={addresses.adresse} +{addresses.plz}+{addresses.ort} " target="_blank">Google Maps Link</a>
</f:if>
<f:comment> <f:render partial="Addresses/Properties" arguments="{addresses:addresses}" /> 
<f:link.action action="list">Back to list</f:link.action><br />
</f:comment>

</f:section>